@rendermode @(new InteractiveAutoRenderMode(prerender:false))
@inherits DataFormBase
<div class="col-lg-12 control-section toast-default-section">
    <SfToast ID="contactToast" @ref="ToastObj" Content="@ToastContent" Timeout="5000">
        <ToastPosition X="@PositionX"></ToastPosition>
    </SfToast>
</div>

<SfDataForm @ref="dataForm" ID="MyForm" Model="@ClientModel" ButtonsAlignment="FormButtonsAlignment.Center" OnValidSubmit="HandleValidSubmit">
    <FormValidator>
        <DataAnnotationsValidator />
    </FormValidator>
    <FormItems>
        <h4>Leave a Message</h4>
        <FormItem Field="@nameof(ClientModel.Subject)" CssClass="formitem">
            <Template>
                <label>Company/Personal Name:</label>
                <SfTextBox Placeholder="Full Name*" @bind-Value="ClientModel.Subject"></SfTextBox>
            </Template>
        </FormItem>
        <FormItem Field="@nameof(ClientModel.From)" CssClass="formitem">
            <Template>
                <label>Email Address:</label>
                <SfTextBox Placeholder="Email Adddress*" @bind-Value="ClientModel.From"></SfTextBox>
            </Template>
        </FormItem>
        <FormItem Field="@nameof(ClientModel.Body)" Placeholder="Comment*" EditorType="FormEditorType.TextArea" CssClass="formitem textbox">
            <Template>
                <label>Message:</label>
                <SfTextBox Placeholder="Brief project description or message*" @bind-Value="ClientModel.Body" Multiline="true"></SfTextBox>
            </Template>
        </FormItem>
    </FormItems>
    <FormButtons>
        <SfButton CssClass="submitbtn" typeof="submit">Submit</SfButton>
    </FormButtons>
</SfDataForm>

<style>
    #contactToast .e-toast {
        background-color: #0EAC4D;
        border-style: none;
    }

    #contactToast .e-toast .e-toast-message .e-toast-content {
        color: white;
        font-size: 14px;
        font-weight: normal;
    }
</style>


