@rendermode InteractiveAuto
@inherits DisplayProjectBase

<div class="holder">
       
    <h5>Shop online</h5>

    <div class="sub-container sec-1">

        <div class="main-card animate">
            <SfCard ID="Card" @onclick="@(() => OpenWebsite("/"))" CssClass="bouncein-left">
                <CardHeader Title="Online Shopping Cart"></CardHeader>

                <CardContent>
                    <img src="images/onlinestore.jpg" alt="picture of an online store website" />
                </CardContent>

            </SfCard>
        </div>

        <div class="small-card animate">
            <SfCard ID="mini-card">
                <CardHeader>
                    <SfButton Content="Link" CssClass="view" OnClick="@(() => OpenWebsite("/"))"></SfButton>
                </CardHeader>

                <CardContent>
                    <p>
                        This is an Online Shopping Cart <br />
                        like Amazon where people can <br />
                        view and buy items.
                    </p>
                </CardContent>

            </SfCard>


            <SfCard ID="mini-card2 animate">
                <CardHeader>
                    <a href="https://github.com/MagnusMutai/ShopOnline" class="git" target="_blank"><img src="/icons/git-icon.svg" alt="github icon" /> Code</a>
                </CardHeader>

                <CardContent>
                    <p>
                        Technologies used include:<br />
                        C#, Blazor WASM, BootstrapV5,<br />
                        MSSQL, EF Core and REST API<br />
                    </p>
                </CardContent>

            </SfCard>
        </div>
    </div>


    <h5 class="hmb">Sales management app</h5>

    <div class="sub-container">

        <div class="small-card">
            <SfCard ID="mini-card">
                <CardHeader>
                    <SfButton Content="Link" CssClass="view" OnClick="@(() => OpenWebsite("/"))"></SfButton>
                </CardHeader>

                <CardContent>
                    <p>
                        This is a sales management app  <br />
                        which can be tailored to be used <br />
                        by any company’s sales team.

                    </p>
                </CardContent>

            </SfCard>


            <SfCard ID="mini-card2">
                <CardHeader>
                    <a href="https://github.com/MagnusMutai/SalesManagementApp" class="git" target="_blank"> <img src="/icons/git-icon.svg" alt="github icon" /> Code</a>
                </CardHeader>

                <CardContent>
                    <p>
                        Technologies used include: <br />
                        C#, Blazor Server, Syncfusion,<br />
                        MSSQL, EF Core and REST API
                    </p>
                </CardContent>

            </SfCard>
        </div>
        <div class="main-card">
            <SfCard ID="Card" @onclick="@(() => OpenWebsite("/"))" CssClass="bouncein-right">
                <CardHeader Title="Sales Management App"></CardHeader>

                <CardContent>
                        <img src="images/salesmanagement.jpg" alt="picture of a sales managemeny web app" />
                </CardContent>

            </SfCard>
        </div>
    </div>

    <h5>Loomon online chat</h5>

    <div class="sub-container">

        <div class="main-card">
            <SfCard ID="Card" @onclick="@(() => OpenWebsite("/"))" CssClass="bouncein-left">
                <CardHeader Title="Loomon - A Chat Web app"></CardHeader>

                <CardContent>
                    <img src="images/lomonimage.png" alt="picture of a chat web application" />
                </CardContent>

            </SfCard>
        </div>

        <div class="small-card">
            <SfCard ID="mini-card">
                <CardHeader>
                    <SfButton Content="Link" CssClass="view" OnClick="@(() => OpenWebsite("/"))"></SfButton>
                </CardHeader>

                <CardContent>
                    <p>
                        This is a chat web application. It’s a <br />
                        web version of an app like Whatsapp.
                    </p>
                </CardContent>

            </SfCard>


            <SfCard ID="mini-card2">
                <CardHeader>
                    <a href="https://github.com/MagnusMutai/Loomon" class="git" target="_blank"> <img src="/icons/git-icon.svg" alt="github icon" /> Code</a>
                </CardHeader>

                <CardContent>
                    <p>
                        Technologies used: C#,<br />
                        Blazor Web, SignalR, MSSQL,<br />
                        BootstrapV5, EFCore & gRPC
                    </p>
                </CardContent>

            </SfCard>
        </div>
    </div>

    <h5 class="hmb">Befit</h5>

    <div class="sub-container">

        <div class="small-card">
            <SfCard ID="mini-card">
                <CardHeader>
                    <SfButton Content="Link" CssClass="view" OnClick="@(() => OpenWebsite("/"))"></SfButton>
                </CardHeader>

                <CardContent>
                    <p>
                        This is a virtual fitness site that has <br />
                        free fitness courses for all!
                    </p>
                </CardContent>

            </SfCard>


            <SfCard ID="mini-card2">
                <CardHeader>
                    <a href="https://github.com/MagnusMutai/BeFit" class="git" target="_blank"> <img src="/icons/git-icon.svg" alt="github icon" /> Code</a>
                </CardHeader>

                <CardContent>
                    <p>
                        Technologies used:<br />
                        C#, Blazor WASM, BootstrapV5,<br />
                        MSSQL, EF Core and REST API<br />
                    </p>
                </CardContent>

            </SfCard>
        </div>
        <div class="main-card">
            <SfCard ID="Card" @onclick="@(() => OpenWebsite("/"))" CssClass="bouncein-right">
                <CardHeader Title="BeFit"></CardHeader>

                <CardContent>
                    <img src="images/befit.jpg" alt="picture of an fitness website" />
                </CardContent>

            </SfCard>
        </div>
    </div>
</div>